@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "dana regular";
    src: url(/public/fonts/DanaFaNum-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "dana medium";
    src: url(/public/fonts/DanaFaNum-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: "dana bold";
    src: url(/public/fonts/DanaFaNum-Bold.woff2) format("woff2");
  }
}
body {
  font-family: "dana regular";
}
@layer components {
  .loader {
    width: 150px;
    height: 150px;
    border: 5px solid;
    margin-right: auto;
    border-radius: 50%;
    border-color: #0000ff transparent;
    animation: rotate infinite linear alternate;
  }
}
@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
